{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
    <h1>Liste des employes</h1>

    {% for employe in employes %}
        {{ employe }}{{" "}}({{ employe.entreprise.raisonSociale }})<br>
    {% endfor %}
{% endblock %}
